/*================= Google Font =================*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*================= Utilities =================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Bebas Neue", "Montserrat", "Roboto", sans-serif; */
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 20px 36px;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background: rgb(61, 79, 243);
  background: linear-gradient(
    180deg,
    rgba(61, 79, 243, 1) 0%,
    rgba(53, 67, 188, 1) 100%
  );
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn i {
  font-size: 18px;
}
.section--title {
  margin-top: 50px;
  font-size: 48px;
  font-weight: 700;
  font-family: "Bebas Neue", sans-serif;
  color: #363958;
}

/*================= Navbar =================*/
header {
  background-color: #fff9f4;
}
.nav-grid {
  position: absolute;
}
.nav-grid img {
  width: 150px;
  position: relative;
  top: 0;
  left: 350px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px 0;
}
.logo-wrap a {
  display: flex;
  align-items: center;
  gap: 14px;
}
.logo-wrap img {
  width: 55px;
}
.brand-name {
  font-size: 26px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #fa804c;
}
.brand-name span {
  color: #363958;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 57px;
  list-style: none;
}
.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #3c3c3c;
  font-family: "Roboto", sans-serif;
}
.hamburger {
  display: none;
  width: 24px;
}
.nav-close {
  display: none;
}

/*================= Hero Section =================*/
.hero-section {
  height: 600px;
  background-color: #fff9f4;
}
.hero {
  display: flex;
  align-items: center;
  gap: 150px;
}
.hero__image {
  width: 512px;
}
.hero__content {
  width: 360px;
}
.hero__title {
  font-size: 80px;
  color: #fa804c;
  line-height: 90px;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
}
.hero__title span {
  color: #363958;
}
.hero__text {
  color: #3e3e3e;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
}
.hero__btn {
  margin-top: 20px;
}

/*================= Casual shoe Section =================*/
.shoes__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.shoes__col {
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 10px 30px 0px rgb(0, 0, 0, 5%);
}
.shoes__image-wrap {
  width: 100%;
  height: 327px;
  background-color: #f1f1f1;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.shoes__image {
  width: 260px;
  background-position: center;
}
.shoes__title {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
  color: #363958;
  font-family: "Roboto", sans-serif;
}
.shoes__text {
  margin-top: 12px;
  line-height: 24px;
  color: #3e3e3e;
  font-family: "Roboto", sans-serif;
}
.shoes__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.shoes__price {
  font-size: 36px;
  font-weight: 900;
  color: #fa804c;
  font-family: "Roboto", sans-serif;
}

/*================= Formal shoe Section =================*/
.formal-shoes {
  margin-top: 100px;
}
.shoes__image-wrap--formal {
  width: 100%;
  height: 327px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.shoes__image-formal {
  width: 100%;
}

/*================= Info Section =================*/
.info-section {
  margin-top: 150px;
}
.info {
  display: flex;
  align-items: center;
  gap: 50px;
}
.info__box-warp,
.info__image-warp {
  flex: 1;
}
.info__box{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgb(0, 0, 0, 5%);
}
.info__box-image {
  width: 78px;
}
.info__box-title {
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  color: #363958;
  font-family: "Roboto", sans-serif;
}
.info__box-text {
  color: #3e3e3e;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
}
.info__image {
  width: 600px;
}

/*================= Footer =================*/
.footer{
  margin-top: 100px;
  width: 100%;
  height: 240px;
  background: #0A0826;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}
.footer__title{
  margin-bottom: 16px;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
}
.footer__title span{
  color: #fa804c;
}
.footer__text{
  margin-bottom: 16px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.footer__icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.footer__icon-link{
  color: #fff;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

/*================= Small device design =================*/
@media (max-width: 768px) {
  /*============== Utilities =================*/
  .container {
    width: 100%;
  }
  .section--title {
    font-size: 36px;
    text-align: center;
  }
  /*================= Mobile Nav =================*/
  .nav-grid {
    display: none;
  }
  .navbar {
    padding: 18px 0;
    align-items: center;
  }
  .logo-wrap a {
    gap: 10px;
  }
  .logo-wrap img {
    width: 37px;
  }
  .brand-name {
    font-size: 16px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #fa804c;
  }
  .nav-list {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    padding-top: 40px;
    width: 100%;
    background: #fff9f4;
    transition: 0.5s ease;
  }
  .nav-link {
    font-size: 16px;
  }
  .nav-item {
    padding-bottom: 20px;
    text-align: center;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 12px;
  }
  .nav-close {
    display: none;
  }

  /*============ Hero section ===============*/
  .hero-section {
    height: 700px;
  }
  .hero {
    padding-top: 40px;
    flex-direction: column-reverse;
    gap: 0;
  }
  .hero__image {
    width: 100%;
    margin-top: 20px;
  }
  .hero__content {
    width: 100%;
  }
  .hero__title {
    font-size: 60px;
    line-height: 70px;
  }
  .hero__text {
    color: #3e3e3e;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
  }

  /*============= Casual shoe =================*/
  .shoes__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /*================= Info Section =================*/
.info {
  flex-direction: column-reverse;
}
.info__box-warp,
.info__image-warp {
  flex: 1;
}
.info__box{
  margin-bottom: 24px;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px;
}
.info__box-image {
  width: 78px;
}
.info__box-title {
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  color: #363958;
  font-family: "Roboto", sans-serif;
}
.info__box-text {
  color: #3e3e3e;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
}
.info__image {
  width: 100%;
}
}
